*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.Typewriter__wrapper {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.235;
  color: var(--primary-color);
  text-decoration: underline;
}

.Typewriter__cursor {
  font-size: 40px;
  font-weight: 100;
}

@keyframes wheel-up-down {
  0% {
    transform: translate(10px, 10px);
    opacity: 0.5;
  }
  100% {
    transform: translate(35px, 35px);
  }
}

.MuiTouchRipple-root {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3e64ff;
    transition:
      width 0.3s ease,
      left 0.3s ease;
    transform: translateX(-50%);
  }
  &:hover::before,
  &.active::before {
    width: 100%;
    left: 50%;
  }
}
